# allow the built frontend
!client/dist/
!client/dist/**

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env

# Virtual environments
.venv/
env/
venv/

# OS artifacts
.DS_Store
Thumbs.db

# Node (for your client folder)
client/node_modules/


